/* TOP NAV GLASS EFFECT */
.first-nav-glass {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

/* MAIN NAV GLASS EFFECT */
.second-nav-glass {
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
/* Footer Navigation Container */
.footer-nav-container {
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}